h1{
    display: none;
}
table{
    border-collapse: collapse;
    width:90%;
    margin: auto;
}
table, th,td{
    border:1px solid white; 
}

th{
    background-color: rgba(236, 135, 135, 0.819);
    text-align: left;
}
td{
    background-color: rgba(236, 135, 135, 0.819);
}

table th:nth-last-child(-n+1){
    background-color: rgba(220, 68, 68, 0.842);
}
table td:nth-last-child(-n+2){
    background-color: rgba(220, 68, 68, 0.842);
}

.num{
    text-align: right;
}

th,td{
    padding:5px 10px;
}