a{
    color:white;
    text-decoration:none;
    padding:24px;
}

menu{
    background-color:rgb(38, 94, 124);
    margin-top:0px;
    margin-left:15px;
    padding-left:0px;
    list-style-type:none;
    list-style-position: inside;
    padding-top:10px;
    padding-bottom:10px;
}

h1{
    margin-bottom:0px;
}

li{
    display:inline;
    background-color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:2px;
    padding-right:2px;
    margin-left:0px;
    margin-right:0px;
}